{
	"env": {
        "browser": true
    },
    "rules": {
        "comma-dangle": ["error", "never"]
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "globals": {
        "angular": false,
        "_": false,
        "$": false,
        "window": false
    }
}